@font-face {
    font-family: JetBrainsMono-Regular;
    src: url(../css/fonts/JetBrainsMono-Regular.ttf);
}
@font-face{
    font-family: lemon;
    src: url(../css/fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: noorehiraRegular;
    src: url(../css/fonts/noorehiraRegular.ttf);
}
@font-face {
    font-family:roboB;
    src: url(../css/fonts/RobotoCondensed-Bold.ttf);
}
//colors

$bgColor:#60BDB2;
$blueOne:#B6DDDA;
$textGray:#2c3b44;
$textGreen:#668360;
$textRed:#B64866;
$textBlue:#355C80;


//fonts names
$JetBrainsMono:JetBrainsMono-Regular;
$lemon:lemon;
$noorehiraRegular:noorehiraRegular;
$roboB:roboB;


// media query mixin
@mixin mq-mn($screenSize) {
    @media (min-width:$screenSize) {
        @content
    }
}

// key frames
@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.8, 0.8);
              transform: scale(0.8, 0.8);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
// global styling 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: $bgColor;
    font-size: pxr(10);
    font-family: $JetBrainsMono;
    padding: pxr(10);
    color: $textGray;
    a{
        color: $textGray;
        text-decoration: none;
    }
    img{
        max-width: 100%;
    }
    ul{
        list-style: none;
    }
    pre{
        font-family: $JetBrainsMono;
    }
}
